/* HomeStyling */
.uppercontent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  font-family: "Inter",sans-serif!important
}
.upperpart{
  height:10px;
  background-color:#68d391;
}
h3
{
  margin-left: 1%;
  font-weight: bold;
}
.mainhead{
  margin-left: 40%;
  font-size: larger;
}
h5{
  font-size: medium;
  margin-left: 12px;
  font-weight: 600;
  margin-top: 25px;
  color:#a0aec0;
  font-weight: bold;
}
.questionbox{
  height: 80px;
  margin-top: 25px;
}
.option{
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 600;
  color: #a0aec0;
}
.optionbox{
  height: 60px;
  margin-right: 12px;
}
.Addbutton{
  margin-top: 18px;
  height: 50px;
}
.createbtn{
  padding: 2px 5px;
  height: 50px;
  width: 100px;
  margin-left: 20px;
  margin-top: 18px;
}
.optionstyle{
  display: flex;
}
.del{
  margin-left: 10px;
  margin-top: 17px;
  color: red;
  height: 1px;
}
.deleteicon{
  border: none;
  margin-bottom: 12px;
}
.box{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px; /* this is half the height of your div*/  
  margin-left:-100px;
  height:500px;
  width:600px;
}
/* Poll link page css */
.mainDiv
{
    border:  2px solid #DFEBFF;
    background-color: #DFEBFF;
    padding-left: 10%;
    padding-right: 10%;
    /* height: 100px; */
}

.childdiv
{
    border: 2px solid #F3F8FF;
    margin-top:10%;
    margin-bottom: 5%;
    background-color: #F3F8FF;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    padding-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.LinkUser
{
    /* border: 2px solid green; */
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}
.textareaLink
{
    width: 70%;
    height: 50px;
    position: relative;
    top: -7px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C7CFD9;
    padding-left: 2%;
    position: relative;
    padding-top: 2%;
    font-size: 1.2rem;
}

.copybutton{
    font-size: 40px;
    position: relative;
    top: -15px;
    margin-left: 1.5%;
    color: #3A608F;
    margin-top: 1.7%;
}
.copybutton:hover{
    cursor: pointer;
}
.h3userLink{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.LinkadminUser
{
    /* border: 2px solid red; */
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.h3adminLink
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
.setter{
  display: flex;
}
/* poll Generator css on SinglePole Page */
.polldata
{   
     background-color: #DFEBFF;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding-left: 10%; */
}
.card{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2%;
  width: 50%;
  height: 50px;
  margin-left: 2px;
}
.quesstyle
{
  align-items: center;
  font-family:cursive;
  font-size: 40px;
  font-weight: bolder;
  margin-left: 30%;
}
.maincontent{
  margin-left: 1%;
}
.polloption{
  /* border: 2px solid red; */
  margin-left: 12%;
  margin-right: 20%;
  margin-top: 3%;
}
.polloptiondata {
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.polloptiondata:hover, .polloptiondata:focus, .polloptiondata:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.97);
}

.polloptiondata{
background-color: #FBFCFE;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 7px;
}

.polloptiondata2
{ 
background-color: #FBFCFE;
box-shadow: 0 4px 8px 0  #24E843, 0 6px 20px 0 #8CFF9E;
height: 80px;
width: 80%;
border-radius: 7px;
}
.polloptiondata3
{ 
background-color: #FBFCFE;
height: 80px;
width: 80%;
border-radius: 7px;
}
.text{
  width: fit-content;
  margin-left: 2%;
  margin-top: 2%;
  text-transform: capitalize;
  padding-top: 15px;
}
.subbutton{
  margin-top: 2%;
  margin-left: 45%;
  height: 50px;
  width: 150px;
}
.polldata1
{   
     background-color: #DFEBFF;
     /* border: 2px solid black; */
    /* margin-top: 3%; */
    width: 52.3%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding-right: 10%; */
    padding-left: 5%;
}
.pollquestion1
{
  /* border: 2px solid rgb(56, 34, 34); */
   /* margin-left: 5%; */
   margin-top: 1%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   font-weight: 700;
}

.polloption1{
    /* border: 2px solid green; */
    /* margin-left: 5%; */
    /* margin-right: 20%; */
    width: 90%;
    margin-top: 3%;
}


.polloptiondata1{
  background-color: #FBFCFE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 110px;
  width: 100%;
  border-radius: 7px;
}



.polloptiondata1 p{
    color: #797E88;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 3%;
    padding-left: 2%;
}

.vote{
    position: relative;
    top: -35px;
    left: 5px;
    color: forestgreen !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
}

.votepercent
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#30E84D;
    margin-left: 80%;
    font-size: 25px;
    margin-top: -19%;
    font-weight:bold;
}

@media(min-width:1400px)
{
    .polloption1{
        /* border: 2px solid green; */
    } 
    .vote{
        position: relative;
        top: -30px;
        left: 5px;
        color: forestgreen !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 18px !important;
    }
    .votepercent{
        margin-left: 85%;
        font-size: 30px;
        margin-top: -15%;
    }

}
@media(min-width:1300px)
{
    .polloption1{
        /* border: 2px solid green; */
    } 
    .vote{
        position: relative;
        top: -30px;
        left: 5px;
        color: forestgreen !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 18px !important;
    }
    .votepercent{
        margin-left: 85%;
        font-size: 30px;
        margin-top: -15%;
    }

}

@media(min-width:1200px)
{
    .polloption1{
        /* border: 2px solid green; */

    } 
    .vote{
        position: relative;
        top: -30px;
        left: 5px;
        color: forestgreen !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 18px !important;
    }
    .votepercent{
        margin-left: 85%;
        font-size: 30px;
        margin-top: -15%;
    }

}

@media(max-width:800px){

    .polldata1
    {
        width: 100%;
    }

    .polloption1{
        /* border: 2px solid green; */
        margin-left: 5%;
        /* margin-right: 20%; */
        width: 90%;
        margin-top: 3%;
    }
}
@media(max-width:500px){
    .vote{
        position: relative;
        top: -20px;
        left: 5px;
        color: forestgreen !important;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 18px !important;
    }
}
@media(min-width:1400px){
    .votepercent{
        margin-left: 85%;
        font-size: 30px;
        margin-top: -15%;
    }
}
@media(max-width:600px){
    .votepercent{
        margin-left: 82%;
        font-size: 30px;
        margin-top: -20%;
    }
}
@media(max-width:500px){
    .votepercent{
        margin-left: 77%;
        font-size: 30px;
        margin-top: -25%;
    }
}
@media(max-width:400px){
    .votepercent{
        margin-left: 70%;
        font-size: 30px;
        margin-top: -29%;
    }
}
@media(max-width:300px){
    .votepercent{
        margin-left: 70%;
        font-size: 25px;
        margin-top: -39%;
    }
}
.databox{
  /* border:2px solid black; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.VoteText
{
  background-color: #DFEBFF;
  /* border: 2px solid green; */
  width: 35.7%;
  /* margin-left: 5%; */
  padding-left: 7%;
}

.VoteTextHeading
{
  margin-top: 15%;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.QrCode
{
  margin-top: 5%;
  /* padding-left: 40%; */
}

@media(max-width:800px)
{
  .VoteText
  {
      width: 100%;
      padding-left: 30%;
  }
}
@media(max-width:500px)
{
  .VoteText
  {
      width: 100%;
      padding-left: 25%;
  }
}
@media(max-width:400px)
{
  .VoteText
  {
      width: 100%;
      padding-left: 10%;
  }
}
@media(max-width:700px)
{
  .mainhead{
    margin-right: 5%;
  }
}
@media(max-width:600px)
{
  .mainhead{
    margin-right: 100px;
    font-size: 10px;
  }
  .h3userLink{
    font-size: 18px;
  }
  .h3adminLink{
    font-size: 18px;
  }
}
@media(max-width:400px)
{
  .mainhead{
    font-size:8px;
    margin-right: 100px;
  }
  .pollquestion1{
    font-size: 20px;
  }
  .upperdiv{
    margin-right: 30px;
  }
  .h3userLink{
    font-size: 15px;
  }
  .h3adminLink{
    font-size: 15px;
  }
}